<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @part.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @part.model %>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
