<div class="row">
    <img width="100%" src="https://i.imgur.com/sit4VkG.jpg">
    <div class="top-left">Sweet<span style="font-family: 'Bangers', cursive;font-size: 60px;">Ride</span><span style="font-size: 12px;">&copy;</span></div>
</div>
<br>
<hr>
<div class="row">
    <div class="container text-center">
        <h2>• About Us •</h2>
        <h6>SweetRide is the leading online marketplace for buying and selling motorcycles, parts and accessories. While we do have a modern section, our emphasis is on the classic scene. Unlike any other source, SweetRide verifies ALL sellers so that buyers can be sure they are dealing with reputable, responsible people, and that what is being advertised is what they actually get. Trying to find a magneto for your ‘63 unit twin? Looking for a vintage Seeley 7R racer? SweetRide is your trusted marketplace for anything and everything in the motorcycling world.</h6>
    </div>
</div>
<hr>
<br>
<div class="row">
    <div class="col-md-6">
        <h2 class="text-center"><%= link_to "• Bikes •", bikes_path , id: "marketplace-headers" %></h2>
            <div class="col-md-12">
                <%= link_to(image_tag("https://images.pexels.com/photos/104842/bmw-vehicle-ride-bike-104842.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", class: "img-responsive card-mig-top", style: "border-radius: 25px; min-height: 387px;display: block;"), bikes_path) %>
            </div>
    </div>
    <div class="col-md-6">
        <h2 class="text-center"><%= link_to "• Parts •", "#" , id: "marketplace-headers" %></h2>
            <div class="col-md-12">
                <%= link_to(image_tag("https://images.pexels.com/photos/185545/pexels-photo-185545.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260", class: "img-responsive card-mig-top", style: "border-radius: 25px; min-height: 387px;display: block;"), "#") %>
            </div>
    </div>
</div>
<br>
<!-- <div class="text-center">
    <h2>• Latest Bikes •</h2>
</div>
<br>
<div id="order-by">
    <form>
        <select name="sort">
            <option value="brand">brand</option>
            <option value="model">model</option>
        </select>
        <input type="submit" value="Sort" />
    </form>
</div>
<% @bikesOrder.each do |bike| %>
    <%= image_tag bike.avatar.url(:medium)%>
<% end %>
</div> -->

<div class="newslettercontent">
    <div class="leftside">
        <%= image_tag "border.png" %>
        <h1 class="text-center">Join Us</h1>

        <p>Join the world’s best, curated motorcycle marketplace targeting buyers with genuine <br>
            interest in the motorcycles, parts and accessories you have for sale. Reach collectors, <br>
            builders and enthusiasts through SweetRide’s global marketing platform<br>
        </p>
    </div>
    <div class="rightside">
        <%= image_tag "https://imgur.com/JBtypZS.jpg", style: "min-height:677px;min-width:653px;" %>
        <button><%= link_to "Become a Verified Seller", new_user_registration_path, class: "btn btn-warning", style: "color:white; font-size: 30px;" %></button>
    </div>
</div>