<%= form_with(model: bike, :html => {:multipart => true}, local: true) do |form| %>

  <div class="field">
    <%= form.file_field :avatar %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :bike_price %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, id: :bike_model %>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand, id: :bike_brand %>
  </div>

   <div class="field">
    <%= form.hidden_field :user_id , :value => current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
