<h1>New Bike</h1>

<%= form_for :bike, url: bikes_path ,:html => {:multipart => true} do |f| %>
  Brand: <%= f.text_field :brand %><br />
  Model : <%= f.text_field :model %><br />
  Year : <%= f.number_field :year %><br />
  Mileage : <%= f.number_field :mileage %><br />
  Description : <%= f.text_area :description %><br />
  <%= f.hidden_field :user_id , :value => current_user.id %>
  <%= f.submit %>
<% end %>

<%= link_to 'Back', bikes_path %>
