<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= content_for?(:title) ? yield(:title) : "Untitled" %>
    </title>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> 
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
</head>

<body>
    <%= render "layouts/header" %>
        <%= render "layouts/alerts" %>
            <div id="main-content" class="row full-min-height">
                <%= yield %>
            </div>
            <footer class="row">
                <div class="large-12 columns">
                    <hr>
                    <p>© SweetRides2017</p>
                </div>
            </footer>
</body>

</html>