<br>
<h2><%= current_user.name %>'s Shop Breakdown</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <h5>Now that you have finished creating your online shop, how about adding some SweetRides?</h5>
  <h6><%= link_to 'New Bike', new_bike_path , style: "color:white;"%></h6>
  <h6><%= link_to 'New Part', new_part_path , style: "color:white;"%></h6>
  
  <br>
  <br>

  <h2><%= current_user.name %>'s Bikes</h2>
  <% current_user.bikes.each do |bike| %>
  <h5><%= bike.brand %>, <%= bike.model %> <%= link_to "Details", bike_path(bike), class: "btn btn-default" %></h5>
  <% end %>

  <hr>

  <h2><%= current_user.name %>'s Parts</h2>
  <% current_user.parts.each do |part| %>
  <h5><%= part.brand %>, <%= part.model %> <%= link_to "Details", part_path(part), class: "btn btn-default" %></h5>
  <% end %>

  <hr>

  <div class="field">
      <%= f.label :avatar, class: 'control-label'  %>
      <%= f.file_field :avatar %>
  </div>

  <br>
  <br>
  <br>
  
  <hr>

  <div class="field">
    <h3>Do you wanna change your info?</h3>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    <%= f.label :location %><br />
    <%= f.text_field :location %>
    <%= f.label :phone_number %><br />
    <%= f.telephone_field :phone_number %>
    <%= f.label :current_password %> <strong>(we need your current password to confirm your changes)</strong>
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <br>
  <br>
  <hr>

  <div class="field">
    <%= f.label :password %> <strong>(leave blank if you don't want to change it)</strong><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>


<% end %>

  <br>
  <br>
  <hr>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
